:root {
  --primary-color: #fffdfd;
  --secondary-color: #262fd2;
  --third-color: #d15014;
  --fourth-color: #001bce;
  --finalcolour: #fad73d;
  --fontone: "dosis";
  --fonttwo: "rammetto one";
  --fontthree: "imprima";
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--fontthree);
  color: var(--third-color);
}

.wrap {
  background-color: var(--primary-color);
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "sidebar maincontent"
    "footer footer";
}

.header {
  margin-bottom: 15px;
  background-color: var(--finalcolour);
  grid-area: header;
  display: flex;
  justify-content: space-between;
  font-family: var(--fontone);
  font-weight: 800;
  box-shadow: rgba(232, 214, 197, 0.15) 0px 8px 10px 0px;
}

.content {
  grid-area: maincontent;
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--primary-color);
  margin-right: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;

  padding-top: 30px;
  margin-left: 25px;
  font-family: var(--fontthree);
  color: #001bce;
  font-size: 30px;
  font-weight: 500;
}

.footer {
  grid-area: footer;
  margin-top: 30px;
  margin-bottom: 15px;
  background-color: var(--primary-color);
  width: 100%;
  font-size: 10px;
  display: flex;

  justify-content: center;
}

.navbar {
  display: flex;
  gap: 1rem;
  margin-right: 15px;
  align-self: center;
}

.title {
  display: flex;
  margin-left: 15px;
  font-size: 100px;
  padding: 5px;
  font-weight: 900;
}

.rightheader {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
  gap: 20px;
}

.shoppingcart {
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-self: center;
  justify-self: center;
}

.shoppingcart img {
  width: 30px;
  height: 45px;
  /* Additional CSS properties for the image */
}

.shoppingcart .itemcount {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: rgb(12, 25, 123);
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  z-index: 2;
}

.shoppingcart {
  position: relative;
}
